<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Tracker</title>
</head>
<body>
  <nav>
      <ul>
</ul>
          <li>
            <a href="/hogwarts-tracker">Hogwarts Tracker</a>
          </li>
          <li>
          <a href="/hogwarts-tracker/index">students</a>
          </li>
          <li>
          <a href="/hogwarts-tracker/new">Enroll a student</a>
          </li>
      </nav>
  <%= yield %>
</body>
</html>
